<!doctype html>
<html lang="en">

{{#each article}}
<article class="row">

    <div class="column col-md-9">

        <P>{{this.title}}</P>
        <br>
        <a href="{{this.link}}">link to article</a>

    </div>

    <div class="column col-md-3">
        <button class="save-article">Save article</button>
    </div>

</article>

{{/each}}