<!doctype html>
<html lang="en">

{{#each article}}
<article class="row {{this.id}}">

    <div class="column col-md-9">

        <p>{{this.title}}</p>
        <a href="{{this.link}}">link to article</a>

    </div>

    <div class="column col-md-3">
        <button class="remove-article" articleID="{{this.id}}"><strong>X</strong></button>
    </div>

</article>

<br>

{{/each}}
