<!doctype html>
<html lang="en">

{{#each article}}
<article class="row">

    <div class="column col-md-9">

        <p>{{this.title}}</p>
        <a href="{{this.link}}">link to article</a>

    </div>

    <div class="column col-md-3">
        <button class="remove-article" value="{{this.id}}" href="/removeArticle"><strong>X</strong></button>
    </div>

</article>

<br>

{{/each}}